[Unit]
Description=Node.js Web Application
Wants=cloud-init.target

[Service]
EnvironmentFile=/etc/environment
WorkingDirectory=/home/admin/
ExecStart=/usr/bin/node /opt/webapp/server.js
Restart=always
User=ec2-user
Group=ec2-user
Environment=PATH=/usr/bin:/usr/local/bin:/usr/local/node/bin

[Install]
WantedBy=multi-user.target
